<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <% if alert = flash[:alert] %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block w-full" id="alert"><%= alert %></p>
    <% end %>

    <% if notice = flash[:notice] %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

      <%= link_to root_path do %>
          <%= image_tag 'icon.png', alt: 'CampHelp icon', class: 'mx-auto h-8 w-auto' %>
          <% end %>
        <h2 class="mt-4 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Forgot your password?</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_with url: passwords_path, class: "space-y-6" do |form| %>
          <div>
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
            <div class="mt-2">
                <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address], class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" %>
            </div>
          </div>

          <div>
            <%= form.submit "Email reset instructions", class: "flex w-full justify-center rounded-md bg-sky-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600" %>
          </div>
        <% end %>
    </div>
</div>
